html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.4);
}

.square {
    border: 1px solid black;
    box-sizing: border-box;
    color: purple 1px;
    flex: 0 0 calc(100% / 16);
}
h1 {
    color: blue;

}
body {
    background-image: url(oardefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}